public/n8n/clerk-set-member.json
{
  "name": "Clerk: Set Member Role",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-460, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-field",
              "name": "email",
              "value": "test@example.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "✏️ Set Email Here",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-220, 0],
      "notes": "Ersetze test@example.com mit der Käufer-E-Mail"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kundaliniyogatribe.de/api/clerk/set-member",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "secret",
              "value": "2adJJshPFKqO31XEdr_EUfwZhuc-Xwr3dAvyhLvacKg"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Clerk: Set Member Role",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 0]
    }
  ],
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "✏️ Set Email Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Set Email Here": {
      "main": [
        [
          {
            "node": "Clerk: Set Member Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "kyt"
  }
}
